<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Student</title>
  </head>
  <body>
    <h1>Student</h1>
    <div class="student">
      <h4>Name: <%= @student.name %></h4>
      <h4>Grade: <%= @student.grade %></h4>
    </div><br>

    <h1>Courses</h1>
    <% @courses.each do |course| %>
      <div class="course">
        <p>Name: <%= course.name %></p>
        <p>Topic: <%= course.topic %></p>
      </div><br>
    <% end %>

    <a href="/index">Click here to return to the Home Page</a>
  </body>
</html>
